@model PagedList.IPagedList<WebApplicationGestorTareas.Tarea>

@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tareas</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v6.5.2/css/all.css" rel="stylesheet">
    <style>

        .topnav a {
            float: left;
            display: block;
            color: #f8f9fa;
            text-align: center;
            padding: 14px 90px;
            text-decoration: none;
        }

        th, td {
            text-align: center;
        }
    </style>
</head>
<body style=" background-color: #fff3b8;">

    <div class="header" style="padding: 20px; text-align: center;">
        <h1> Tareas <i class="fa-solid fa-clipboard-list"></i></h1>
    </div>

  

    <div class="container mt-4">
        <table class="table table-striped table-bordered" style=" background-color: #fff; border-radius: 8px;">
            <thead class="table-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                        <td>@Html.DisplayFor(modelItem => item.Estado)</td>
                        <td>
                            @Html.ActionLink("Detalles", "Detalles", new { id = item.Id }, new { @class = "btn btn-dark btn-sm text-white" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.PagedListPager(Model, page => Url.Action("ObtenerTareas",
    new { sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, page = page }))
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
</body>
</html>
