@model WebApplicationGestorTareas.Models.PremioDto

@{
    ViewBag.Title = "Create";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Create Premio</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v6.5.2/css/all.css" rel="stylesheet">
</head>

<body style="background-color: #ffb983;">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center">Crear premio <i class="fa-solid fa-trophy fa-bounce"></i></h2>
                <hr />

                <form asp-action="CrearPremio" method="post">
                    @Html.AntiForgeryToken()

                    <div class="card border-5 border-end border-start">
                        <div class="card-body">

                            <div class="mb-3">
                                <label for="Nombre" class="form-label">Nombre del premio</label>
                                <input type="text" id="Nombre" name="Nombre" class="form-control" required="required" maxlength="20" title="El nombre del premio es obligatorio (máximo 20 caracteres).">
                            </div>

                            <div class="mb-3">
                                <label for="Descripcion" class="form-label">Descripción del premio</label>
                                <input type="text" id="Descripcion" name="Descripcion" class="form-control" maxlength="200" title="La descripción del premio no puede exceder los 200 caracteres.">
                            </div>

                            <div class="mb-3">
                                <label for="Puntos" class="form-label">Puntos</label>
                                <input type="number" id="Puntos" name="Puntos" class="form-control" required="required" min="1" max="100" title="Los puntos deben ser un número positivo.">
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12 text-center">
                                    <button type="submit" class="btn btn-outline-dark">Crear</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container mt-3 text-center">
        <a href="@Url.Action("VerMiPerfil", "Usuarios")" class="btn btn-secondary" style="padding:4px 15px">
            <i class="fas fa-arrow-left"></i>
        </a>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
</body>
</html>
